<header>
	<div id="banner">
		<%= image_tag("logo.gif") %>
		<%= "ATM Monitoring" %>
	</div>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Monitoring", help_path %></li>
		</ul>
	</nav>
</header>