<header>
	<%= image_tag("logo.gif") %>
	<%= "ATM Monitoring" %>
	<nav class="right">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Monitoring", help_path %></li>
		</ul>
	</nav>
</header>